* {
  box-sizing: border-box;
}

.styles {
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 2%;
  width: 100%;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

body {
  max-width: 110%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

img {
  width: 100%;
}

.intro {
  font-size: 30px;
  font-weight: bold;
}

.summary,
.experience,
.education {
  margin: 5%;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

.center {
  text-align: center;
}

a {
  color: white;
}
